<div class="formulaire" *ngIf="!cree">
  <h1>Formulaire de création de cours</h1>
  <form [formGroup]="coursForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="dateDebut">Date de debut</label>
    <input type="date" formControlName="dateDebut" name="dateDebut" id="dateDebut" ngModel>

    <label for="dateFin">Date de fin</label>
    <input type="date" formControlName="dateFin" name="dateFin" id="dateFin" ngModel>

    <label for="niveau">Niveau</label>
    <select id="niveau" formControlName="niveau">
        <option *ngFor="let n of niv" [ngValue]="n">{{ n }}</option>
    </select>

    <label for="salle">Salle</label>
    <select id="salle" formControlName="salle">
        <option *ngFor="let s of salles" [ngValue]="s">{{ s }}</option>
    </select>

    <input type="submit" value="Créer">
  </form>
</div>

<div class="formulaire" *ngIf="cree">
  <h1 style="padding-bottom: 20px;">Le cours a bien été créé !</h1>
  <input type="submit" (click)="creerAutreCours()" value="Créer un autre cours">
  <input type="submit" routerLink="/cours/consultation" value="Consulter la liste des cours">
</div>