<div class="formulaire" *ngIf="!cree">
  <h1>Formulaire de création de cours</h1>
  <form [formGroup]="coursForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="debut"><span style="color: red;">*</span> Date de debut</label>
    <input type="date" formControlName="debut" name="debut" id="debut" ngModel>

    <label for="fin"><span style="color: red;">*</span> Date de fin</label>
    <input type="date" formControlName="fin" name="fin" id="fin" ngModel>

    <label for="niveau"><span style="color: red;">*</span> Niveau</label>
    <select id="niveau" formControlName="niveau">
        <option *ngFor="let n of niveaux" [ngValue]="n">{{ n.libelle }}</option>
    </select>

    <label for="salle"><span style="color: red;">*</span> Salle</label>
    <select id="salle" formControlName="salle">
        <option *ngFor="let s of salles" [ngValue]="s">{{ s.code }}</option>
    </select>

    <input type="submit" value="Créer">
  </form>
</div>

<div class="formulaire" *ngIf="cree">
  <h1 style="padding-bottom: 20px;">Le cours a bien été créé !</h1>
  <input type="submit" (click)="creerAutreCours()" value="Créer un autre cours">
  <input type="submit" routerLink="/cours/consultation" value="Consulter la liste des cours">
</div>