<div class="formulaire" *ngIf="!cree">
  <h1>Formulaire de création d'élève</h1>
  <form [formGroup]="eleveForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="nom">Nom</label>
    <input type="text" formControlName="nom" name="nom" id="nom" placeholder="Entrer le nom.." ngModel>

    <label for="prenom">Prenom</label>
    <input type="text" formControlName="prenom" name="prenom" id="prenom" placeholder="Entrer le prenom.." ngModel>

    <label for="age">Age</label>
    <input type="text" formControlName="age" name="age" id="age" placeholder="Entrer l'age.." ngModel>

    <label for="adresse">Adresse</label>
    <input type="text" formControlName="adresse" name="adresse" id="adresse" placeholder="Entrer l'adresse.." ngModel>

    <label for="niveau">Niveau</label>
    <select id="niveau" formControlName="niveau" formControlName="niveau">
      <option *ngFor="let n of niv" [ngValue]="n">{{ n.libelle }}</option>
    </select>

    <input type="submit" value="Créer">
  </form>
</div>

<div class="formulaire" *ngIf="cree">
  <h1 style="padding-bottom: 20px;">L'élève a bien été créé !</h1>
  <input type="submit" (click)="creerAutreEleve()" value="Créer un autre élève">
  <input type="submit" routerLink="/eleve/consultation" value="Consulter la liste des élèves">
</div>
