<div class="formulaire" *ngIf="!cree">
  <h1>Formulaire de création d'élève</h1>
  <form [formGroup]="eleveForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="nom">Nom</label>
    <input type="text" formControlName="nom" name="nom" id="nom" ngModel>

    <label for="prenom">Prenom</label>
    <input type="text" formControlName="prenom" name="prenom" id="prenom" ngModel>

    <label for="age">Age</label>
    <input type="text" formControlName="age" name="age" id="age" ngModel>


    <label for="adresse">Adresse</label>
    <input type="text" formControlName="adresse" name="adresse" id="adresse" ngModel>

    <label for="niveau">Niveau</label>
    <select id="niveau" formControlName="niveau" formControlName="niveau">
      <option *ngFor="let n of niv" [ngValue]="n">{{ n }}</option>
    </select>

    <input type="submit" value="Créer">
  </form>
</div>

<div *ngIf="cree">
  <p>l'élève a bien été créé !</p>
  <button (click)="creerAutreEleve()">Créer un autre élève</button>
</div>