<!-- Barre de navigation -->
<ul>
        <!-- Menu principal -->
        <li style="margin: 0px 40px; ">
                <a class="not-content" routerLink="">Application Planning</a>
        </li>
        
        <li>
                <a class="not-content">|</a>
        </li>

        <!-- élève -->
        <li class="dropdown">
                <a class="dropbtn">Elèves</a>
                <div class="dropdown-content">
                        <a class="drop-content" routerLink="eleve/creation">Créer un élève</a>
                        <a class="drop-content" routerLink="eleve/consultation">Consulter les élèves</a>
                </div>
        </li>

        <!-- cours -->
        <li class="dropdown">
                <a class="dropbtn">Cours</a>
                <div class="dropdown-content">
                        <a class="drop-content" routerLink="cours/creation">Créer un cours</a>
                        <a class="drop-content" routerLink="cours/consultation">Consulter les cours</a>
                </div>
        </li>

        <!-- salle -->
        <li class="dropdown">
                <a class="dropbtn">Salles</a>
                <div class="dropdown-content">
                        <a class="drop-content" routerLink="salle/creation">Créer une salle</a>
                        <a class="drop-content" routerLink="salle/consultation">Consulter les salles</a>
                </div>
        </li>

        <!-- niveau -->
        <li class="dropdown">
                <a class="dropbtn">Niveaux</a>
                <div class="dropdown-content">
                        <a class="drop-content" routerLink="niveau/creation">Créer un niveau</a>
                        <a class="drop-content" routerLink="niveau/consultation">Consulter les niveaux</a>
                </div>
        </li>
</ul>