/*
.header {
    background-image: url("../../assets/img/background/banner-universite-histoire.jpg");
    margin:0px;
}

.name {
    color: rgb(104, 104, 104);
    font-size: 65px;
}

.header p {
    font-family: system-ui;
    font-weight: bolder;
    color: #1E90FF;
    font-size: 65px;
}


img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}*/