<div class="formulaire" *ngIf="!cree">
  <h1>formulaire de création d'un niveau</h1>
  <form [formGroup]="niveauForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="code"><span style="color: red;">*</span> Code</label>
    <input type="text" formControlName="code" name="code" id="code" placeholder="Entrer le code.." ngModel>
    
    <label for="libelle"><span style="color: red;">*</span> Libelle</label>
    <input type="text" formControlName="libelle" name="libelle" id="libelle" placeholder="Entrer le libelle.." ngModel>
    
    <input type="submit" value="Créer">
  </form>
</div>

<div class="formulaire" *ngIf="cree">
  <h1 style="padding-bottom: 20px;">Le niveau a bien été créé !</h1>
  <input type="submit" (click)="creerAutreNiveau()" value="Créer un autre niveau">
  <input type="submit" routerLink="/niveau/consultation" value="Consulter la liste des niveaux">
</div>