<div class="formulaire" *ngIf="allCours.length == 0">
  <h1>Il n'y a pas de cours enregistré dans la base de données !</h1>
</div>

<div>
  <p> filtrage par</p>
  <button (click)="sortCoursBySalle()">salle</button>
</div>

<div class="content-list-cours" *ngIf="!modif && allCours.length != 0">
  <h1 class="title-list">Liste des cours :</h1>
  <div class="formulaire" *ngFor="let cours of allCours">
    <p>id: {{cours.id}}</p>
    <p>date de debut : {{cours.debut}}</p>
    <p>date de fin : {{cours.fin}}</p>
    <p>niveau : {{cours.niveau.libelle}}</p>
    <p>salle : {{cours.salle.code}}</p>
    <button (click)="removeCours(cours)">Supprimer le cours</button>
    <button (click)="updateCours(cours)">Modifier le cours</button>
  </div>
</div>

<div class="formulaire" *ngIf="modif">
  <form [formGroup]="coursForm" (ngSubmit)="submit(coursForm)" fxLayout="column">

    <label for="debut">Date de debut</label>
    <input type="date" name="debut" id="debut" formControlName="debut" value="{{coursModif.debut}}">

    <label for="fin">Date de fin</label>
    <input type="date" name="fin" id="fin" formControlName="fin" value="{{coursModif.fin}}">

    <label for="niveau">Niveau</label>
    <select id="niveau" formControlName="niveau" value="{{coursModif.niveau}}">
        <option *ngFor="let n of niv" [ngValue]="n">{{ n.libelle }}</option>
    </select>

    <label for="salle">Salle</label>
    <select id="salle" formControlName="salle" value="{{coursModif.salle}}">
        <option *ngFor="let s of salles" [ngValue]="s">{{ s.code }}</option>
    </select>

    <input type="submit" value="Modifier">
  </form>
</div>