<div *ngIf="allCours.length == 0">
    <p>Il n'y a pas de cours enregistrer dans la base de données !</p>
  </div>
  
  <div *ngIf="!modif">
    <div *ngFor="let cours of allCours">
      <p>id: {{cours.id}}</p>
      <p>date de debut : {{cours.debut}}</p>
      <p>date de fin : {{cours.fin}}</p>
      <p>niveau : {{cours.niveau}}</p>
      <p>salle : {{cours.salle}}</p>
      <button (click)="removeCours(cours)">Supprimer le cours</button>
      <button (click)="updateCours(cours)">Modifier le cours</button>
    </div>
  </div>
  
  <div *ngIf="modif">
    <form [formGroup]="coursForm" (ngSubmit)="submit(coursForm)" fxLayout="column">
      <label for="debut">Date de debut
        <input type="text" name="debut" id="debut" formControlName="debut" value="{{coursModif.debut}}">
      </label>
      <label for="fin">Date de fin
        <input type="text" name="fin" id="fin" formControlName="fin" value="{{coursModif.fin}}">
      </label>
      <label for="niveau">Niveau
        <select id="niveau" formControlName="niveau" value="{{coursModif.niveau}}">
            <option *ngFor="let n of niv" [ngValue]="n">{{ n }}</option>
        </select>
      </label>
      <label for="salle">Salle
            <select id="salle" formControlName="salle" value="{{coursModif.salle}}">
                <option *ngFor="let s of salles" [ngValue]="s">{{ s }}</option>
            </select>
      </label>
      <button type="submit">Modifier</button>
    </form>
  </div>