<div class="formulaire" *ngIf="!cree">
  <h1>formulaire de création d'une salle</h1>
  <form [formGroup]="salleForm" (ngSubmit)="submit()" fxLayout="column">

    <label for="capacite">Capacité</label>
    <input type="text" formControlName="capacite" name="capacite" id="capacite" placeholder="Entrer la Capacité.." ngModel>

    <label for="nom">Nom</label>
    <input type="text" formControlName="nom" name="nom" id="nom" placeholder="Entrer le nom.." ngModel>
    

    <label for="code">Code</label>
    <input type="text" formControlName="code" name="code" id="code" placeholder="Entrer le code.." ngModel>

    <input type="submit" value="Créer">
  </form>
</div>

<div *ngIf="cree">
  <p>La salle a bien été créé !</p>
  <button (click)="creerAutreSalle()">Créer une autre salle</button>
</div>