<p>afficher-eleve works!</p>

<div *ngIf="!modif">
  <div *ngFor="let eleve of allEleve">
    <p>id: {{eleve.id}}</p>
    <p>nom : {{eleve.nom}}</p>
    <p>prenom : {{eleve.prenom}}</p>
    <p>age : {{eleve.age}}</p>
    <p>adresse : {{eleve.adresse}}</p>
    <p>niveau : {{eleve.niveau}}</p>
    <button (click)="removeEleve(eleve)">Supprimer l'élève</button>
    <button (click)="updateEleve(eleve)">Modifier l'élève</button>
  </div>
</div>

<div *ngIf="modif">
  <form [formGroup]="eleveForm" (ngSubmit)="submit(eleveForm)" fxLayout="column">
    <label for="nom">Nom
      <input type="text" name="nom" id="nom" formControlName="nom" value="{{eleveModif.nom}}">
    </label>
    <label for="prenom">Prenom
      <input type="text" name="prenom" id="prenom" formControlName="prenom" value="{{eleveModif.prenom}}">
    </label>
    <label for="age">Age
      <input type="text" name="age" id="age" formControlName="age" value="{{eleveModif.age}}">
    </label>
    <label for="adresse">Adresse
      <input type="text" name="adresse" id="adresse" formControlName="adresse" value="{{eleveModif.adresse}}">
    </label>
    <label for="niveau">Niveau
      <select id="niveau" formControlName="niveau" value="{{eleveModif.niveau}}">
        <option *ngFor="let n of niv" [ngValue]="n">{{ n }}</option>
      </select>
    </label>
    <button type="submit">Modifier</button>
  </form>
</div>