<div class="formulaire" *ngIf="allEleve.length == 0">
  <h1>Il n'y a pas d'élèves enregistrer dans la base de données !</h1>
</div>

<div>
  <p> filtrage par</p>
  <button (click)="sortEleveByNom()">Nom</button>
  <button (click)="sortEleveByPrenom()">Prenom</button>
  <button (click)="sortEleveByAge()">Age</button>
  <button (click)="sortEleveByNiveau()">Niveau</button>
</div>

<div *ngIf="!modif && allEleve.length != 0">
  <div class="formulaire" *ngFor="let eleve of allEleve">
    <p>id: {{eleve.id}}</p>
    <p>nom : {{eleve.nom}}</p>
    <p>prenom : {{eleve.prenom}}</p>
    <p>age : {{eleve.age}}</p>
    <p>adresse : {{eleve.adresse}}</p>
    <p>niveau : {{eleve.niveau.libelle}}</p>
    <button (click)="removeEleve(eleve)">Supprimer l'élève</button>
    <button (click)="updateEleve(eleve)">Modifier l'élève</button>
  </div>
</div>

<div class="formulaire" *ngIf="modif">
  <form [formGroup]="eleveForm" (ngSubmit)="submit(eleveForm)" fxLayout="column">

    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" formControlName="nom" value="{{eleveModif.nom}}">
    
    <label for="prenom">Prenom</label>
    <input type="text" name="prenom" id="prenom" formControlName="prenom" value="{{eleveModif.prenom}}">

    <label for="age">Age</label>
    <input type="text" name="age" id="age" formControlName="age" value="{{eleveModif.age}}">

    <label for="adresse">Adresse</label>
    <input type="text" name="adresse" id="adresse" formControlName="adresse" value="{{eleveModif.adresse}}">

    <label for="niveau">Niveau</label>
    <select id="niveau" formControlName="niveau" value="{{eleveModif.niveau}}">
      <option *ngFor="let n of niv" [ngValue]="n">{{ n.libelle }}</option>
    </select>

    <input type="submit" value="Modifier">
  </form>
</div>