<p>formulaire création élève</p>

<form #form="ngForm" (submit)="submit(form)" fxLayout="column">
  <label for="nom">Nom
    <input type="text" name="nom" id="nom" ngModel>
  </label>
  <label for="prenom">Prenom
    <input type="text" name="prenom" id="prenom" ngModel>
  </label>
  <label for="age">Age
    <input type="text" name="age" id="age" ngModel>
  </label>
  <label for="adresse">Adresse
    <input type="text" name="adresse" id="adresse" ngModel>
  </label>
  <label for="niveau">Niveau
    <select id="niveau" formControlName="niveau">
      <option *ngFor="let n of niv" [ngValue]="n">{{ n }}</option>
    </select>
  </label>
  <button type="submit">Créer</button>
</form>
